<meta charset="UTF-8">
<meta name="google-site-verification" content="zn35ZLEP0On5fOgBn4JhRUUvkwCf7aHCy5sF7KY_ztQ" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="baidu-site-verification" content="codeva-zj1hmU1TBt" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<% if(config.author){ %>
    <meta name="author" content="<%- config.author %>">
    <% } %>
        <% if(config.subtitle){ %>
            <meta name="subtitle" content="<%- config.subtitle %>">
            <% } %>
                <% if(config.description){ %>
                    <meta name="description" content="<%- config.description %>">
                    <% } %>
                        <% if(config.keywords){ %>
                            <meta name="keywords" content="<%- config.keywords %>">
                            <% } %>
                                <% var title=page.title; if (is_archive()){ title=__('archive_a'); if (is_month()){
                                    title +=': ' + page.year + '/' + page.month; } else if (is_year()){ title +=': ' +
                                    page.year; } } else if (is_category()){ title=__('category') + ': ' + page.category;
                                    } else if (is_tag()){ title=__('tag') + ': ' + page.tag; } %>
                                    <title>
                                        <% if (page.browser_title){ %>
                                            <%= page.browser_title %> | <% } else if (title){ %>
                                                    <%= title %> | <% } %>
                                                            <%= config.title %>
                                    </title>

                                    <%# favicon %>
                                        <% if (theme.favicon){ %>
                                            <link rel="icon" href="<%- url_for(theme.favicon) %>">
                                            <% } %>

                                                <%# css list %>
                                                    <% if (theme.stylesheets !==undefined && theme.stylesheets.length>
                                                        0) { %>
                                                        <!-- stylesheets list from _config.yml -->
                                                        <% theme.stylesheets.forEach(url=> { %>
                                                            <link rel="stylesheet" href="<%- url_for(url) %>">
                                                            <% }); %>
                                                                <% } %>
                                                                    <%# javascript list %>
                                                                        <% if (theme.scripts !==undefined &&
                                                                            theme.scripts.length> 0) { %>
                                                                            <!-- scripts list from _config.yml -->
                                                                            <% theme.scripts.forEach(url=> { %>
                                                                                <script
                                                                                    src="<%- url_for(url) %>"></script>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                                        <%# mathjax support %>
                                                                                            <% if(theme.mathjax.enable!==null&&theme.mathjax.enable===true){
                                                                                                %>
                                                                                                <%# import mathjax
                                                                                                    method: global or
                                                                                                    demand %>
                                                                                                    <% if(theme.mathjax.import==='global'
                                                                                                        ){ %>
                                                                                                        <%- partial('_plugins/mathjax.ejs')
                                                                                                            %>
                                                                                                            <% } else
                                                                                                                if(theme.mathjax.import==='demand'
                                                                                                                ){ %>
                                                                                                                <% if
                                                                                                                    (page.mathjax){
                                                                                                                    %>
                                                                                                                    <%- partial('_plugins/mathjax.ejs')
                                                                                                                        %>
                                                                                                                        <% }
                                                                                                                            %>
                                                                                                                            <% }
                                                                                                                                %>
                                                                                                                                <% }
                                                                                                                                    %>



                                                                                                                                    <script>
                                                                                                                                        document.addEventListener('DOMContentLoaded', function () {
                                                                                                                                            function changeGiscusTheme() {
                                                                                                                                                const theme = document.body.classList.contains('dark-theme') ? 'dark' : 'light';

                                                                                                                                                function sendMessage(message) {
                                                                                                                                                    const iframe = document.querySelector('iframe.giscus-frame');
                                                                                                                                                    if (!iframe) return;
                                                                                                                                                    iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
                                                                                                                                                }

                                                                                                                                                sendMessage({
                                                                                                                                                    setConfig: {
                                                                                                                                                        theme: theme === 'dark' ? 'noborder_dark' : 'noborder_light'
                                                                                                                                                    }
                                                                                                                                                });
                                                                                                                                            }

                                                                                                                                            // 等待Giscus加载，然后尝试更改主题
                                                                                                                                            setTimeout(changeGiscusTheme, 1200); // 等待1200毫秒

                                                                                                                                            // 如果你有一个主题切换按钮或链接，你可以在这里添加事件监听器
                                                                                                                                            // 例如：
                                                                                                                                            // document.getElementById('your-theme-switch-button-id').addEventListener('click', changeGiscusTheme);
                                                                                                                                        });
                                                                                                                                    </script>

                                                                                                                                    <!-- 搜索的部分 -->
                                                                                                                                    <%# search
                                                                                                                                        %>

                                                                                                                                        <% if(config.search
                                                                                                                                            &&
                                                                                                                                            config.search.enable
                                                                                                                                            )
                                                                                                                                            {
                                                                                                                                            %>
                                                                                                                                            <%- partial('_plugins/search.ejs')
                                                                                                                                                %>
                                                                                                                                                <% }
                                                                                                                                                    %>

                                                                                                                                                    <script
                                                                                                                                                        async
                                                                                                                                                        src="https://us.umami.is/script.js"
                                                                                                                                                        data-website-id="38f19c51-0534-4438-abae-315f586a457d"></script>

                                                                                                                                                    <script
                                                                                                                                                        type="text/javascript"