<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
    <%- partial('_partial/head',{cache: true}) %>
        <style>
            body.hide-content * {
                visibility: hidden;
            }
        </style>
        <script>
            (function () {
                document.body.classList.add('hide-content');

                const savedTheme = localStorage.getItem('theme');
                const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
                let useDarkMode;
                if (savedTheme === 'dark' || savedTheme === 'light') {
                    useDarkMode = savedTheme === 'dark';
                } else {
                    useDarkMode = userPrefersDark;
                }
                document.body.classList.toggle('dark-theme', useDarkMode);
                document.body.classList.remove('hide-content');
            })();
        </script>
        <style>
            #tocButton svg {
                position: fixed;
                bottom: 20px;
                /* 调整到你想要的位置 */
                right: 5vw;
            }

            #totop {
                position: fixed;
                bottom: 20px+2rem;
                /* 调整到你想要的位置 */
                right: 5vw;
            }
        </style>

</head>

<body>
    <div class="wrapper">
        <%- partial('_partial/header',{cache: true}) %>
            <div class="main">
                <%- body %>
            </div>
            <%- partial('_partial/footer',{cache: true}) %>
    </div>
    </script>

    <!-- 搜索功能 -->
    <!-- Chic/layout.ejs -->
    <div id="u-search">
        <div class="modal">
            <div class="modal-header">
                <div class="container">
                    <form id="u-search-modal-form" class="u-search-modal-form">
                        <button type="submit" class="form-submit-btn">
                            <img src="<%- url_for(theme.searchImg) %>" class="search-btn-img" />
                        </button>
                        <input placeholder="搜索内容..." class="form-input" id="modal-form-input">
                    </form>
                    <a class="modal-close">x</a>
                </div>
                <div class="search-loading">
                    <div class="search-loading-bar"></div>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <div class="modal-overlay"></div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tocbot/dist/tocbot.css" />
    <script src="https://cdn.jsdelivr.net/npm/tocbot/dist/tocbot.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            tocbot.init({
                tocSelector: '.js-toc',
                contentSelector: '.post-content',
                headingSelector: 'h1, h2, h3, h4',
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const savedTheme = localStorage.getItem('theme');
            console.log("Saved theme: ", savedTheme); // 输出保存的主题

            const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            console.log("User prefers dark theme: ", userPrefersDark); // 输出用户的系统偏好

            let useDarkMode;
            if (savedTheme === 'dark' || savedTheme === 'light') { // 当有明确的保存主题时
                useDarkMode = savedTheme === 'dark';
            } else {
                useDarkMode = userPrefersDark; // 默认使用系统偏好
            }

            console.log("Using dark theme: ", useDarkMode); // 输出是否使用暗主题

            document.body.classList.toggle('dark-theme', useDarkMode); // 应用或移除 dark-theme 类

            const themeToggleCheckbox = document.getElementById('switch_default');
            if (themeToggleCheckbox) {
                themeToggleCheckbox.checked = useDarkMode;
            }

            themeToggleCheckbox.addEventListener('change', function () {
                const isChecked = themeToggleCheckbox.checked;
                console.log("Checkbox is checked: ", isChecked); // 输出复选框的状态

                document.body.classList.toggle('dark-theme', isChecked);
                localStorage.setItem('theme', isChecked ? 'dark' : 'light');
            });
        });
    </script>

    <script>
        document.querySelector('.js-toc').addEventListener('scroll', function (e) {
            var tocList = document.querySelector('.toc-list');
            var maxHeight = tocList.scrollHeight - this.clientHeight + 20; // 计算最大可滚动高度
            if (this.scrollTop >= maxHeight) {
                this.scrollTop = maxHeight; // 如果滚动超过最大高度，则设置滚动位置为最大高度
            }
        });
    </script>

</body>

</html>