<%# this page will judge whether current page is 'tag.' url:'http://localhost:4000/tag/' return false.
    url:'http://localhost:4000/tags/test/' return true. if you enter 'tag' page by click link will show all tags.
    otherwise if you enter 'tags' by click post header link will show the single tag of this post. how to add a tag
    page: 1. hexo new page "tag" 2. cd source/tag/index.md 3. add layout pattern like this: --- title: '''tag''' date:
    2019-06-09 09:56:49 layout: tag --- %>


    <% if(is_tag()){ %>
        <%- partial('_page/tag', {pagination: config.tag, index: true}) %>
            <% } else { %>
                <div class="container">
                    <div class="post-wrap tags">
                        <h2 class="post-title">标签</h2>
                        <% var tagsArray=[]; site.tags.each(function(tag) { tagsArray.push({ name: tag.name, path:
                            tag.path, length: tag.length }); }); var sortedTags=tagsArray.sort(function(a, b) { return
                            a.name.toLowerCase().localeCompare(b.name.toLowerCase()); }); %>
                            <div class="tags-page" id="tag-cloud">
                                <% for (var tag of tagsArray) { %>
                                    <% var postCount=tag.length; %>
                                        <span style="font-size: <%= 12 + Math.log(postCount + 1) * 5 %>px;">
                                            <a href="<%= url_for('/tags/' + tag.name + '/') %>">
                                                <%= tag.name %>
                                                    <small>(<%= postCount %>)</small>
                                            </a>
                                        </span>
                                        <% } %>
                            </div>
                    </div>
                </div>
                <% } %>

                    <style>
                        .tags-page span {
                            margin-right: 5px;
                            /* 调整这个值来改变标签之间的间距 */
                        }
                    </style>

                    <script>
                        // Function to shuffle an array randomly
                        function shuffleArray(array) {
                            for (let i = array.length - 1; i > 0; i--) {
                                const j = Math.floor(Math.random() * (i + 1));
                                [array[i], array[j]] = [array[j], array[i]];
                            }
                            return array;
                        }

                        // Shuffle the tags array randomly
                        var tagsContainer = document.getElementById('tag-cloud');
                        var tags = Array.from(tagsContainer.children);
                        shuffleArray(tags);
                        tags.forEach(tag => tagsContainer.appendChild(tag));
                    </script>